<h2>Login</h2><br>

<!-- Print error message -->
<% if !!@error %>
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= @error %>
  </div>
<% end %>

<%# Rails ActionView's helper method form_tag creates %>
  <%# authenticity_token key that's sent whenever we make post request %>
  <%# authenticity error is raised if a request is submitted from another site %>
  <%# ensure that request is coming from authenticated user %>
<%= form_tag(login_path) do %>
  <%= label_tag :username %>
  <div><%= text_field_tag :username %></div>
  <%= label_tag :password %>
  <div><%= password_field_tag :password %></div><br>
  <%= submit_tag 'Log In', class: 'btn btn-lg btn-primary' %>
<% end %><br>

<%= link_to "Login via GitHub", 'auth/github' %>