<!-- Display all problems -->

<h1>All Problem Logs</h1>
<%= button_to "Add New Problem", new_problem_path, method: 'get', class: 'btn btn-outline-primary btn-lg' %><br>

<h4>Sort By</h4>
<ul>
  <li><%= link_to "Most Recent (default)", problems_path %></li>
  <%# <li>Wall</li> %>
  <%# <%= select_tag :wall_id, options_from_collection_for_select(Wall.all, :id, :name), prompt: 'Select Wall' %> 
  <li><%= link_to "Easiest", problems_sort_easiest_path %></li>
  <li><%= link_to "Hardest", problems_sort_hardest_path %></li>
  <%# <li>Style</li>   %>
</ul>
<br><hr>

<h2>All Results</h2>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <th>Set</th>
    <th>Wall</th>
    <th>Name</th>
    <th>Color</th>
    <th>Grade</th>
    <th>Sends</th>
    <th>See Details</th>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= format_timestamp_to_set_month(problem) %></td>
        <td><%= problem.wall.name %></td>
        <td><h5><%= problem.name %></h5></td>
        <td><%= problem.color %></td>
        <td><%= problem.grade %></td>
        <td><%= problem.sends.count %></td>

        <td><%= link_to 'See details', problem_path(problem) %></td>
      </tr>

    <% end %>
  </tbody>
</table>