<!-- Display all problems -->
<h3><%= "Currently logged in as #{current_user.username}" %></h3>

<h1>All Problem Logs</h1>
<%= link_to "Add New Problem", new_problem_path %><br>

<h4>Filter By</h4>
<p><b>Grades:</b> toggle bar to choose range of grades</p>
<p><b>Set dates:</b> toggle bar to choose range of set_dates</p>

<h4>Sort By</h4>
<ul>
  <li><%= link_to "Most Recent (default)", problems_path %></li>
  <li>Wall</li>
  <%= select_tag :wall_id, options_from_collection_for_select(Wall.all, :id, :name), prompt: 'Select Wall' %>
  <li><%= link_to "Easiest", problems_sort_easiest_path %></li>
  <li><%= link_to "Hardest", problems_sort_hardest_path %></li>
  <li>Style</li>  
</ul>
<br><hr>

<h2>All Results</h2>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <th>Set</th>
    <th>Wall</th>
    <th>Name</th>
    <th>Color</th>
    <th>Grade</th>
    <th>Sends</th>
    <th>See Details</th>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= format_timestamp_to_set_date(problem) %></td>
        <td><%= problem.wall.name %></td>
        <td><h5><%= problem.name %></h5></td>
        <td><%= problem.color %></td>
        <td><%= problem.grade %></td>
        <td><%= problem.sends.count %></td>

        <td><%= link_to 'See details', problem_path(problem) %></td>
      </tr>

    <% end %>
  </tbody>
</table>