<h1><%=@problem.id%> at <%= @problem.wall.name %></h1>
<h3>Sent by: <a href="/users/<%= @problem.user_id %>">@<%= @problem.user.username %></a></h3>
<h3>Set: <%= format_timestamp_to_set_date(problem) %></h3>
<ul>
  <li>Color: <%= @problem.color %></li>
  <li>Grade: <%= @problem.grade %></li>
  <% if !@problem.image.empty? %>
    <li>Image:<br><%= @problem.image%> </li>
  <% end %>
  <!-- helper method to display style in sentence -->
  <li>Styles: <%= dispplay_styles(problem) %></li>
</ul>
