<h1 class="heading"><%= @problem.name %> at <%= @problem.wall.name %> Wall</h1>
<h3 class="subheading">Set: <%= format_timestamp_to_set_month(@problem) %></h3>
<h4><%= display_sends_count(@problem) %></a></h4>
<ul>
  <li>Color: <%= @problem.color %></li>
  <li>Grade: <%= @problem.grade %></li>
  <% if @problem.image.present? %>
    <li>Image:<br><%= @problem.image.html_safe %></li>
  <% end %>
  <!-- helper method to display style in sentence -->
  <li>Styles: <%= display_styles(@problem) %></li>
</ul>

<br><br>
<h3 class="subheading">ACTIVITY</h3><hr>
<!-- order by least attempts? or latest?-->
<% @problem.sends.each do |send| %>
  <h3 class="subheading">@<%= link_to send.user.username, user_path(send.user) %></h3>  
  <!-- float right if possible -->
  <p><%= display_attempts(send) %></p>
  <p>Sent on: <%= display_date_sent(send) %></p>
  <p><%= send.image.html_safe if send.image %></p>
  <br>
<% end %>