<h1>All Users</h1>

<!-- Extra features -->
 <div id="leaderboard">
  <h3>LEADERBOARD</h3>
  <div id="leaderboard_redpoint">
    <h4>Redpoint Winners</h4>
    <i>Who climbed the most problems this month?</i>
    <table class="table table-hover">
      <thead class="thead-dark">
        <th><%= image_tag "winner.png", class: "image_icon" %></th>
        <th>Winners</th>
        <th>Problems sent</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>example-user</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2</td>
          <td>example-user-2</td>
          <td>7</td>
        </tr>
        <tr>
          <td>3</td>
          <td>example-user-3</td>
          <td>5</td>
        </tr>                
      </tbody>
    </table>
  </div>

  <div id="leaderboard_crusher">
    <h4>Crusher of The Month</h4>
    <i>Who climbed the hardest grade this month?</i><br>
    <h5><%= image_tag "winner.png", class: "image_icon" %>
      The winner is... <span>@<%= link_to @best_climber.username, user_path(@best_climber) %></span>!!
    </h5>
  </div>
</div><br><hr>

<!-- Display all users -->
<h3>ALL USERS</h3>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <th>User</th>
      <th>Problems Sent</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%=link_to user.username, user_path(user) %></td>
        <td><%= user.sends.count %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
