<h1>Create a user account</h1>

<!-- Display error messages -->
<%= render partial: '/errors', locals: { record: @user } %><br>
<div>
<!-- `form_for` creates a form specifically for a model object.  -->
<!--  automatically performs a route lookup to find the right URL for post: HTTP method + route --> 
<!-- passes an instance of FormBuilder as a parameter (f) -->
<%= form_for @user do |f| %> 
  <%= f.label :username %>
  <div><%= f.text_field :username %></div>
  <%= f.label :password %>
  <div><%= f.password_field :password %></div>
  <%= f.label :confirm_password %>
  <div><%= f.password_field :password_confirmation %></div><br><br>
  <%= f.submit 'Create Account', class: 'btn btn-lg btn-primary' %>
<% end %>
</div>