<%= render partial: '/errors', locals: { record: @send } %><br>

<%= form_for(@send, url: selected_path) do |f| %>
  <h4>Which problem did you send?</h4>
  <div> <%= f.select :problem_id, option_groups_from_collection_for_select(Wall.all, :problems, :name, :id, :name, @send.problem_id || nil), prompt: "Select Problem"%></div>
  <br>
  <%= f.label :attempts %>
  <div><%= f.number_field :attempts, min: 1 %></div>
  <br>
  <!-- date sent must be after problem created_at date-->
  <%= f.label :date_sent %>
  <div><%= f.date_field :date_sent, max: Date.today %></div>
  <br>
  <%= f.label :image %>
  <div><%= f.text_field :image %></div>
  <br>

  <%= f.submit class: "btn btn-lg btn-info" %>
<% end %>