<%= render partial: '/errors', locals: { record: @send } %><br>

<%= form_for(@send, url: selected_path) do |f| %>
  <b>Which problem did you send?</b>
  <div><%= f.select :problem_id, options_from_collection_for_select(Problem.all, :id, :name, selected: @send.problem_id || nil), prompt: 'Select Problem' %></div>
  <br>
  <%= f.label :attempts %>
  <div><%= f.number_field :attempts, min: 1 %></div>
  <br>
  <!-- date sent must be after problem created_at date-->
  <%= f.label :date_sent %>
  <div><%= f.date_field :date_sent, max: Date.today %></div>
  <br>
  <%= f.label :image %>
  <div><%= f.text_field :image %></div>
  <br>

  <%= f.submit class: "btn btn-lg btn-info" %>
<% end %>