<h1>All of @<%= @user.username %>'s Sends</h1>
<!-- Display sent problem through partial -->
<%= link_to "Add New Send", new_user_send_path if current_user == @user %>

<%= render '/layouts/user_preview' %>
<hr>

<h4>Sort Sends By</h4>
<ul>
  <li><%= link_to "Most Recent (default)", user_sends_path(@user) %></li>
  <%# <li>Wall</li>
  <%= select_tag :wall_id, options_from_collection_for_select(Wall.all, :id, :name), prompt: 'Select Wall' %>
  <li><%= link_to "Hardest to easiest", user_sends_sort_easiest_path(@user) %></li> 
  <li><%= link_to "Easiest to hardest", user_sends_sort_hardest_path(@user) %></li> 
</ul><br><hr>

<h2> All Results </h2>
<!-- Display sends -->
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <th>Date Sent</th>
    <th>Problem Name</th>
    <th>Wall</th>
    <th>Color</th>
    <th>Grade</th>
    <th>Attempts</th>
    <th></th> <!-- link to send -->
    <th></th> <!-- edit send -->
    <th></th> <!-- delete send -->
  </thead>
  <tbody>
    <% @sends.each do |send| %>
      <tr>
        <td><%= send.date_sent %></td>
        <td><h5><%= link_to send.problem.name, problem_path(send.problem) %></h5></td>
        <td><%= send.problem.wall.name %></td>
        <td><%= send.problem.color %></td>
        <td><%= send.problem.grade %></td>
        <td><%= send.attempts %> attempts</td>

        <td><%= link_to 'See details', user_send_path(@user, send) %></td>
        <% if @user == current_user %>
          <td><%= link_to "Edit send", edit_user_send_path(@user, send) %></td>
          <!-- <button_to(str), URL, method:"DELETE", class:"destory"></button>`-->
          <td><%= button_to "x", user_send_path(@user, send), :method => "delete" %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>