<h1>All of <%= @user.username %>'s Sends</h1>
<!-- Display sent problem through partial -->

<%# = render partial: 'problems/problem', locals: { problem: @user.send.problem } %><br>

<h3>Problems Sent: <%= @user.sends.count %><h3>
<h3>Hardest Send: <%=@user.hardest_send %></h3>

<h4>Filter by:</h4>
<p>Grades: toggle bar to choose range of grades</p>
<p>Set dates: toggle bar to choose range of set_dates</p>

<h4>Sort sends by:</h4>
<ul>
  <li>Most Recent (currently selected)</li>
  <li>Highest Rating</li>
  <li>Wall</li>
  <li>Easiest</li>
  <li>Hardest</li>
</ul>

<% if owner_of_sends?(@user) %>
  <%= link_to "Add New Send", new_send_path %>
<% end %>

<!-- Display sends -->
<table>
  <thead>
    <th>Date Sent</th>
    <th>Name</th>
    <th>Wall</th>
    <th>Color</th>
    <th>Grade</th>
    <th>Attempts</th>
    <th></th> <!-- link to send -->
    <th></th> <!-- edit send -->
    <th></th> <!-- delete send -->
  </thead>
  <tbody>
    <% @user.sends.each do |send| %>
      <tr>
        <td><%= send.date_sent %></td>
        <td><h5><%= send.problem.name %></h5></td>
        <td><%= send.problem.wall.name %></td>
        <td><%= send.problem.color %></td>
        <td><%= send.problem.grade %></td>
        <td><%= send.attempts %> attempts</td>

        <td><%= link_to 'See details', send_path(send) %></td>
        <!-- <#% if problem.user == current_user %> -->
          <td>Edit problem</td>
          <td> Delete problem</td>
        <!-- <%# else %> -->
        <!-- <td></td> -->
        <!-- <td></td> -->
      <!-- <%# end %> -->
      </tr>
    <% end %>
  </tbody>
</table>