<h1>@<%= @send.user.username %>'s Send</h1>

<h2><%=@send.problem.name%> at <%=@send.problem.wall.name%> Wall</h2>
<p><%= display_attempts(@send) %></p>
<p>Sent on: <%= @send.date_sent %></p>
<%= @send.image.html_safe if @send.image %>
<br><br>
<%= button_to "Check out this problem", problem_path(@send.problem), method: 'get' %>